/* 
    Document   : style
    Created on : 2013-2-17, 14:52:21
    Author     : yang
    Description:
        Purpose of the stylesheet follows.
*/

.login{
    margin: 0 auto;
    width: 400px;
    margin-top: 200px;
    padding:20px;
    border: 1px solid #8CBF3D;
}
.login .form-horizontal .controls{
    margin-left: 50px;
}
